/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/08/2015, 09:30:01 AM
    Author     : ltoscano
*/

body{
    //background-color:#B1B1B1;
}

.sopaContainer
{         
   background-color: #E6E6E6;
}


.sopaTable
{         
    font-family: 'Source Sans Pro', sans-serif;
    width: 740px;
    background-color: #e6e6e6;
    border: solid 10px #4A215E;
    border-radius: 2%;
    padding: 5px;
}

table td
{
    text-align: center;
    padding-bottom: 3px;
    padding-top:3px;
    width: 4%;
}

div .letraContainer{
    width: 80%;
    height: 100%;
    background-color: #FFFFFF;
    border: solid 1px #999999;
    margin: 0 auto;
    border-radius: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24pt;
    text-align: center;
    font-weight: bold;
    color: #4A215E;
}

div .letraContainer span{
    margin: 0 auto;
}

span.selected{
    color: #DA9500;
}

div.answer{
    color: #FFFFFF;
    background-color: #4A215E;
}

div.disabled{
    color: #E8E8E8;
}

div.found{
    background-color: #c6afdc;
}