@font-face{
    font-family:'sena_icon';
    src:url('sena.eot');
    src:url('sena.eot?#iefix') format('embedded-opentype'),
        url('sena.woff') format('woff'),
        url('sena.ttf') format('truetype'),
        url('sena.svg#glyphicons_halflingsregular') format('svg');
    font-weight:normal;
    font-style:normal;
}