/nbproject/private/
/public_html/compositions/recursos/R6_PRE2/nbproject/private/
debug.log
Thumbs.db
/public_html/compositions/actividades_extra/R5_CARRERA/compositions/recursos/preg_1/nbproject/private/
/public_html/compositions/actividades_extra/R5_CARRERA/compositions/recursos/preg_2/nbproject/private/
/public_html/compositions/actividades_extra/R5_CARRERA/compositions/recursos/preg_3/nbproject/private/
/public_html/compositions/actividades_extra/R5_CARRERA/compositions/recursos/preg_4/nbproject/private/
/public_html/compositions/actividades_extra/R5_CARRERA/compositions/recursos/preg_5/nbproject/private/